.layout {
  min-block-size: 100vh;
  justify-content: flex-start;
}

.header {
  padding-block: 5px;
  padding-inline: 5px;
}

.tipIcon {
  display: inline;
  margin-inline-end: 2px;
  vertical-align: bottom;
}

.detailLayout {
  flex-wrap: nowrap;
}

@media (max-width: 600px) {
  .detailLayout {
    flex-direction: column;
  }
  .detailLayout > div:first-child {
    width: 100% !important;
  }
}
